body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(225,225,225);
}


/*///////////////////////////////////////////HEADER///////////////////////////////////////////*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    background-color: rgb(211,63,89);
    box-sizing: border-box;
    border-bottom-left-radius:40px;
    border-bottom-right-radius:40px;
}
header article{
    padding: 20px;
}

/*APARTADO_LOGO*/
.isologo_contenedor{
    display:flex;
    flex-direction: row;
    align-items: center;
    flex: 1;

}
.logo_header{
    height: 70px;
    width: 70px;
}
.titulo_header{
    font-size: 40px;
    font-family: Georgia;
    color:rgb(242,242,242);
}
/*APARTADO_BUSQUEDA*/

.form_header{
    display: flex;
    flex-direction: row;
}

.buscador_contenedor{
    flex: 7;
    text-align: center;
}
#buscador{
    height: 40px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-left: 5px;
    width: 300px;
}
#envio_formulario{
    height: 44px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding-left: 5px;
}
#envio_formulario:hover{
    background-color: rgb(179, 47, 68);
    color:rgb(242,242,242);
}

/*APARTADO_LOGIN*/
.login_contenedor form{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.login_contenedor form article{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.login_contenedor form article input{
    padding:10px;
    width: 100%;

}
#usuario{
    border-top-left-radius: 30px;
}
#pass{
    border-bottom-left-radius: 30px;
}
#ingresar{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding-left: 0px;
    padding-bottom:10px;
    width: 57px;
    height: 105px;
    background-image: url("../Imagenes/Otras/pokeball2.png");
    background-size: cover;

}

#ingresar:hover{
    background-image: url("../Imagenes/Otras/pokeball1.png");
}
.texto_header{
    color: white;
    font-family: "AniMe Matrix - MB_EN";
}

.boton_cerrar_sesion{
    border-radius: 5px;
    border: 1px solid black;
    width: 100%;
}
.boton_cerrar_sesion:hover{
    background-color: rgb(211,63,89);
    border: 1px solid white;
    color: white;
}

/* Media queries responsive pantallas pequeñas Header*/
@media (max-width: 768px) {

    header {
        flex-wrap: wrap;
    }

    .isologo_contenedor, .buscador_contenedor, .login_contenedor {
        width: 100%;
        margin-bottom: 10px;
    }
    .buscador_contenedor{
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    #buscador {
        width: 80%;
        margin: 0 auto;
    }

    .login_contenedor form {
        flex-direction: column;
        align-items: center; /
    }

    .login_contenedor form article {
        width: 80%;
        margin-bottom: 10px;
    }

    #usuario, #pass {
        border-radius: 30px;
    }

    #ingresar {
        border-radius: 30px; 
        width: 60%; 
        height: 60px; 
        margin: 0 auto; 
        background-position: center; 
    }

    .form_header{
        display: flex;
        flex-direction: row;
    }

}

/* Estilos para tablets y pequeñas pantallas (de 600px a 1024px) */
@media screen and (min-width: 600px) {
    .logo_header {
        height: 55px;
        width: 55px;
    }

    .titulo_header {
        font-size: 32px;
    }

    #buscador {
        width: 80%;
    }

    .login_contenedor form article input {
        padding: 8px;
    }

    #ingresar {
        width: 45px;
        height: 90px;
    }

    .form_header{
        display: flex;
        flex-direction: row;
    }
}

/* Estilos para pantallas por encima de 1024px*/
@media screen and (min-width: 1024px) {
    .logo_header {
        height: 70px;
        width: 70px;
    }

    .titulo_header {
        font-size: 40px;
    }

    #buscador {
        width: 400px;
    }

    .login_contenedor form article input {
        padding: 10px;
    }

    #ingresar {
        width: 57px;
        height: 105px;
    }

    .form_header{
        display: flex;
        flex-direction: row;
    }
}

/*///////////////////////////////////////////DAR ALTA POKEMON///////////////////////////////////////////*/
.boton_añadir {
    border: 1px solid black;
    border-radius:20px;
    background-color: rgb(211,63,89);
    width: 500px;
    height: 50px;
}
.boton_añadir a{
    text-decoration: none;
    color: white;
}
.boton_añadir:hover {
    background-color: rgb(179, 47, 68);
}

.contenedor_dar_alta, .formulario_alta{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding: 30px;
}
.formulario_alta{
    background-color: rgb(211,63,89);
    width:700px;
    border-radius: 30px;
}
.contenedor_dar_alta label{
    padding:10px;
    color: white;
    font-family: "Bell MT";
}
.contenedor_dar_alta input, #tipos{
    border: 1px solid white;
    border-radius: 5px ;
    width: 600px;
    padding: 10px;
    color: white;
    background-color: rgb(179, 47, 68);
}
.contenedor_dar_alta input:hover{
    border: 1px solid black;
    background-color: white;
    color:black;
}
.contenedor_dar_alta input::placeholder{
    color:white;
}
.contenedor_dar_alta input:hover::placeholder{
    color:black;
}

/* Media queries responsive pantallas pequeñas Dar Alta Pokémon*/
@media (max-width: 768px) {
    .boton_añadir {
        width: 100%;
    }
    .formulario_alta {
        width: 90%;
    }
    .contenedor_dar_alta input, #tipos {
        width: 90%;
    }

}

/* Estilos para tablets y pantallas pequeñas (de 600px a 1024px) */
@media screen and (min-width: 600px) and (max-width: 1023px) {
    .boton_añadir {
        width: 80%;
    }
    .formulario_alta {
        width: 85%;
    }
    .contenedor_dar_alta input, #tipos {
        width: 85%;
    }
}

/* Estilos para pantallas más grandes (por encima de 1024px) */
@media screen and (min-width: 1024px) {
    .boton_añadir {
        width: 500px;
    }
    .formulario_alta {
        width: 700px;
    }
    .contenedor_dar_alta input, #tipos {
        width: 600px;
    }
}

/*///////////////////////////////////////////MOSTRAR REGISTROS DE POKEMON///////////////////////////////////////////*/

.registro_pokemon{
    width: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding:2% 25% 1% 25%;
    box-sizing: border-box;
}

.registro_pokemon article{
    height: 300px;
    text-align: center;
}

.icono_pokemon_registro,.imagen_modificar,.imagen_eliminar{
    width: 100px;
    height: 100px;
    display: inline-block;
    background-size: cover;
}
.imagen_modificar{
    background-image: url("../Imagenes/Otras/editar_poke.png");
}
.imagen_modificar:hover{
    background-image: url("../Imagenes/Otras/editar_poke2.png");
}
.imagen_eliminar{
    background-image: url("../Imagenes/Otras/borrar_poke.png");
}
.imagen_eliminar:hover{
    background-image: url("../Imagenes/Otras/borrar_poke2.png");
}

.col_icono_pokemon{
    background-color: rgb(211,63,89);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    flex:10%;
}
.col_icono_pokemon:hover{
    background-color: rgb(179, 47, 68);
}

.col_data{
    background-color: ghostwhite;
    flex:50%;
}
.col_imagen_poke{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(211,63,89);
    flex:30%;
}
.col_modificaciones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(179, 47, 68);
    flex: 10%;
    padding: 0 20px 0 20px;
}

.mostrar_tipo_pokemon{
    width:100px;
    height: 50px;
}
.mostrar_imagen_pokemon{
    width:200px;
    height: 200px;
}
.centrar_boton{
    text-align: center;
}

.texto_titulos{
    font-family: Verdana;
    color: white;
}

/* Para dispositivos de ancho <= 768px */
@media screen and (min-width: 200px) and (max-width: 768px) {
    .registro_pokemon {
        padding: 2% 5% 1% 5%; 
        width: 90%;
        margin-bottom: 15px;
    }

    .icono_pokemon_registro, .imagen_modificar, .imagen_eliminar {
        width: 50px;
        height: 50px;
    }

    .mostrar_tipo_pokemon {
        width: 50px;
        height: 25px;
    }

    .mostrar_imagen_pokemon {
        width: 100px;
        height: 100px;
    }

    .col_icono_pokemon, .col_modificaciones {
        padding: 0 10px; 
    }
}

/* Para dispositivos de ancho entre 600px y 1024px */
@media screen and (min-width: 600px) {
    .registro_pokemon {
        padding: 2% 10% 1% 10%; 
    }

    .icono_pokemon_registro, .imagen_modificar, .imagen_eliminar {
        width: 75px;
        height: 75px;
    }

    .mostrar_tipo_pokemon {
        width: 75px;
        height: 37.5px;
    }

    .mostrar_imagen_pokemon {
        width: 150px;
        height: 150px;
    }

    .col_icono_pokemon, .col_modificaciones {
        padding: 0 15px; 
    }
    
}

/* Para dispositivos de ancho >= 1024px */
@media screen and (min-width: 1024px) {

    .registro_pokemon {
        padding: 2% 25% 1% 25%;
        width: 100%;
    }

    .registro_pokemon article{
        height: 300px;
        text-align: center;
        margin-top: 3em;
        margin-bottom: 3em;
    }

    .buscador_contenedor{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/*ESTILOS FOOTER*/

.contenedor_footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    align-items: center;
}

strong {
    text-align: center;
    margin: 0 20px;
    color: white;
}

.isologo_contenedor, .isologo_contenedor2 {
    display: flex;
    align-items: center;
}

.logo_header {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
footer{
    background-color: rgb(211,63,89);
}

/*ESTILOS VISUALIZAR POKÉMON*/

.visualizarPokemonBody html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-image: url('/Pokedex/Imagenes/Otras/fondo_info.png');
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tarjeta {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    border: 5px solid rgb(211,63,89);
    border-radius: 10%;
    margin: 2em;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    width: 60em;
    height: auto;
}

img {
    width: 23em;
    height: auto;
}

.tarjeta > div {
    width: calc(50%);
}

.imagenPokemon {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.datos {
    color: rgb(211,63,89);
    text-align: center;
}

.datos2 {
    color: black;
    text-align: center;
}

/* Media queries responsive pantallas pequeñas visualizar Pokémon*/
@media (max-width: 768px) {

    .tarjeta {
        flex-direction: column; 
        width: 90%; 
        margin: 1em auto; 
        padding: 1em 0; 
    }

    img {
        width: 60%; 
        margin: 0 auto; 
    }

    .tarjeta > div {
        width: 100%;
    }
}