body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(225,225,225);
}

/*///////////////////////////////////////////HEADER///////////////////////////////////////////*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    background-color: rgb(211,63,89);
    box-sizing: border-box;

    border-bottom-left-radius:40px;
    border-bottom-right-radius:40px;
}
header article{
    padding: 20px;
}

/*APARTADO_LOGO*/
.isologo_contenedor{
    display:flex;
    flex-direction: row;
    align-items: center;
    flex: 1;

}
.logo_header{
    height: 70px;
    width: 70px;
}
.titulo_header{
    font-size: 40px;
    font-family: Georgia;
    color:rgb(242,242,242);
}
/*APARTADO_BUSQUEDA*/

.buscador_contenedor{
    flex: 7;
    text-align: center;
}
#buscador{
    height: 40px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-left: 5px;
    width: 700px;
}
#envio_formulario{
    height: 44px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding-left: 5px;
}
#envio_formulario:hover{
    background-color: rgb(179, 47, 68);
    color:rgb(242,242,242);
}
/*APARTADO_LOGIN*/
.login_contenedor form{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.login_contenedor form article{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.login_contenedor form article input{
    padding:10px;
    width: 100%;

}
#usuario{
    border-top-left-radius: 30px;
}
#pass{
    border-bottom-left-radius: 30px;
}
#ingresar{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding-left: 0px;
    padding-bottom:10px;
    width: 57px;
    height: 105px;
    background-image: url("../Imagenes/Otras/pokeball2.png");
    background-size: cover;

}

#ingresar:hover{
    background-image: url("../Imagenes/Otras/pokeball1.png");
}
.texto_header{
    color: white;
    font-family: "AniMe Matrix - MB_EN";
}

.boton_cerrar_sesion{
    border-radius: 5px;
    border: 1px solid black;
    width: 100%;
}
.boton_cerrar_sesion:hover{
    background-color: rgb(211,63,89);
    border: 1px solid white;
    color: white;
}
/*///////////////////////////////////////////DAR ALTA POKEMON///////////////////////////////////////////*/
.boton_añadir {
    border: 1px solid black;
    border-radius:20px;
    background-color: rgb(211,63,89);
    width: 600px;
}
.boton_añadir a{
    text-decoration: none;
    color: white;
}
.boton_añadir:hover {
    background-color: rgb(179, 47, 68);
}


.contenedor_dar_alta, .formulario_alta{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding: 30px;
}
.formulario_alta{
    background-color: rgb(211,63,89);
    width:700px;
    border-radius: 30px;
}
.contenedor_dar_alta label{
    padding:10px;
    color: white;
    font-family: "Bell MT";
}
.contenedor_dar_alta input, #tipos{
    border: 1px solid white;
    border-radius: 5px ;
    width: 600px;
    padding: 10px;
    color: white;
    background-color: rgb(179, 47, 68);
}
/*#tipos{
    width: 625px;

}*/
.contenedor_dar_alta input:hover{
    border: 1px solid black;
    background-color: white;
    color:black;
}
.contenedor_dar_alta input::placeholder{
    color:white;
}
.contenedor_dar_alta input:hover::placeholder{
    color:black;
}

/*///////////////////////////////////////////MOSTRAR REGISTROS DE POKEMON///////////////////////////////////////////*/

.registro_pokemon{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding:2% 25% 1% 25%;
    box-sizing: border-box;
}

.registro_pokemon article{
    height: 300px;
    text-align: center;
}
.icono_pokemon_registro,.imagen_modificar,.imagen_eliminar{
    width: 100px;
    height: 100px;
    display: inline-block;
    background-size: cover;
}
.imagen_modificar{
    background-image: url("../Imagenes/Otras/editar_poke.png");
}
.imagen_modificar:hover{
    background-image: url("../Imagenes/Otras/editar_poke2.png");
}
.imagen_eliminar{
    background-image: url("../Imagenes/Otras/borrar_poke.png");
}
.imagen_eliminar:hover{
    background-image: url("../Imagenes/Otras/borrar_poke2.png");
}

.col_icono_pokemon{
    background-color: rgb(211,63,89);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    flex:10%;
}
.col_icono_pokemon:hover{
    background-color: rgb(179, 47, 68);
}

.col_data{
    background-color: ghostwhite;
    flex:50%;
}
.col_imagen_poke{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(211,63,89);
    flex:30%;
}
.col_modificaciones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(179, 47, 68);
    flex: 10%;
    padding: 0 20px 0 20px;
}

.mostrar_tipo_pokemon{
    width:100px;
    height: 50px;
}
.mostrar_imagen_pokemon{
    width:200px;
    height: 200px;
}
.centrar_boton{
    text-align: center;
}


